@import "tailwindcss";
@tailwind utilities;
@config "../../tailwind.config.js";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body.dark {
  background:#0a0a0a;
  color: #ededed;;
  font-family: Arial, Helvetica, sans-serif;
}
